@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}



a{
    text-decoration:none;
    color:#8a8a8a;
    font-size: .86rem;;
    
}
a:hover{
    color:#bf835f;
}
body{
    
    background-color:#142f40;
    color: #bf835f;
}
.custom-offcanvas{
    background-color:#05141f;
    color: #bf835f;
}
.navbar{
    background-color: #0e212dfb;
    color: #bf835f;
}
.Profile-Pic{
    height: 30px;
    border-radius: 50%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.colour{
    background-color: #142f40;
        color: #bf835f;
}
.Pic{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.navbar-toggler svg {
    fill: #bf835f;
}
.card{
    background-image:url("watsonx.jpeg");
    height: 50vh;
    width: 100vh;
}

img{
    -webkit-filter: drop-shadow(5px 5px 5px #142f40);
    filter: drop-shadow(30px 20px 30px #031724);
    
}